<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
<span> Доброе утро, <span th:text="${user.name}  "></span></span>
<form th:action="@{/tours/delete/all}">
    <input type="submit" value="Удалить все" />
</form>
<a th:href="new_tour_form"><button>Добавить</button></a>
<a href="/logout"><button>Выход</button></a>
    <table>
        <thead>
            <tr>
                <td><input type="checkbox" onclick="toggle(this)"></td>
                <td>Начало</td>
                <td>Окончание</td>
                <td>Город</td>
                <td>Страна</td>
                <td>Цена</td>
                <td>Куплен</td>
            </tr>
        </thead>
        <tbody>
        <form th:action="@{/tours/delete}" th:method="post">
            <tr th:each="tour: ${tours}">
                <td><input type="checkbox" name="checked" th:value="${tour.id}"/></td>
                <td th:text="${tour.dateFrom}"></td>
                <td th:text="${tour.dateTo}"></td>
                <td th:text="${tour.city.name}"></td>
                <td th:text="${tour.city.country.name}"></td>
                <td th:text="${tour.price}"></td>
                <td>
                    <span th:if="${tour.boughtBy == null}">-</span>
                    <span th:unless="${tour.boughtBy == null}" th:text="${tour.boughtBy.id}" ></span>
                </td>

            </tr>
            <input type="submit" value="Удалить выбранные" />
        </form>
        </tbody>
    </table>
<script>
    function toggle(source) {
        let checkboxes = document.getElementsByName("checked");
        for(let i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
</body>
</html>