<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
<span> Доброе утро, <span th:text="${user.name} + '!' "/></span>
<a th:href="new_tour_form">Добавить</a>
    <table>
        <tbody>
    <tr th:each="tour: ${tours}">
        <td th:text="*{id}" />
        <td th:text="*{dateFrom}" />
        <td th:text="*{dateTo}" />
        <td th:text="*{city.name}" />
        <td th:text="*{city.country.name}" />
<!--        <td th:text="${tour.dateFrom}" />-->
    </tr>
    </tbody>
    </table>

</body>
</html>