<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Купить тур</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script type="text/javascript" th:src="@{/js/filter.js}"></script>
</head>
<body>

 <span> Доброе утро, <span th:text="${user.name}  "></span></span>
<a href="/profile"><button>Профиль</button></a>
<a href="/logout"><button>Выход</button></a>
<div>
    <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
       
      <div id="slider-range"></div>
</div>
<!-- <table> 
        <thead>
            <tr><td><input type="checkbox" onclick="toggle(this)"/></td>
                <td>Начало</td>
                <td>Окончание</td>
                <td>Город</td>
                <td>Страна</td>
                <td>Цена</td>
                
            </tr>
        </thead>
        <tbody>
        <form th:action="@{/buy_new_tour}" th:method="post" >
        <tr th:each="tour: ${tours}">
            <td><input type="checkbox" name="checked" th:value="${tour.id}"/></td>
            <td th:text="${tour.dateFrom}"></td>
                            <td th:text="${tour.dateTo}"></td>
                            <td th:text="${tour.city.name}"></td>
                            <td th:text="${tour.city.country.name}"></td>
                            <td th:text="${tour.price}"></td>
                             <script></script> 
            </tr>
            <input type="submit" value="Купить" />
            </form>
        </tbody>
    </table>

<script th:inline="javascript">
    
    function toggle(source) {
        let checkboxes = document.getElementsByName("checked");
        for(let i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script> -->
</body>
</html>