<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Купить тур</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="dist/daterangepicker.min.css">
<script type="text/javascript" src="moment.min.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="dist/jquery.daterangepicker.min.js"></script>
  <script th:inline="javascript">
    var tours = /*[[${tours}]]*/ [];
    $( function() {
        let maxPriceTour, minPriceTour;
        for (let tour of tours) {
            
            if (maxPriceTour == null || parseInt(tour['price']) > parseInt(maxPriceTour['price'])){
                maxPriceTour = tour;
            }
            if (minPriceTour == null || parseInt(tour['price']) < parseInt(minPriceTour['price'])){
                minPriceTour = tour;
            }
        }
        let minPrice = parseInt(minPriceTour['price']); 
        let maxPrice = parseInt(maxPriceTour['price']);
      $( "#slider-range" ).slider({
        range: true,
        min: minPrice,
        max: maxPrice,
        values: [ minPrice, maxPrice ],
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.values[0] + " - $" + ui.values[ 1 ] );
          console.log(tours.filter(tour => ui.values[0] <= parseInt(tour.price) &&  ui.values[1] >= parseInt(tour.price)));
        }
      });
      $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
        " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    } );

    $( "#date-range" ).dateRangePicker({})
    .on('datepicker-first-date-selected', function(event, obj){})
	.on('datepicker-change',function(event,obj){})
	.on('datepicker-apply',function(event,obj){})
	.on('datepicker-close',function(){})
	.on('datepicker-closed',function(){})
	.on('datepicker-open',function(){})
	.on('datepicker-opened',function(){});
    
  </script>
</head>
<body>

 <span> Доброе утро, <span th:text="${user.name}  "></span></span>
<a href="/profile"><button>Профиль</button></a>
<a href="/logout"><button>Выход</button></a>
<div>
    <p>
        <label for="amount">Price range:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
</div>
<div>
    <input type="text" id="date-range">
</div>





<!-- <table> 
        <thead>
            <tr><td><input type="checkbox" onclick="toggle(this)"/></td>
                <td>Начало</td>
                <td>Окончание</td>
                <td>Город</td>
                <td>Страна</td>
                <td>Цена</td>
                
            </tr>
        </thead>
        <tbody>
        <form th:action="@{/buy_new_tour}" th:method="post" >
        <tr th:each="tour: ${tours}">
            <td><input type="checkbox" name="checked" th:value="${tour.id}"/></td>
            <td th:text="${tour.dateFrom}"></td>
                            <td th:text="${tour.dateTo}"></td>
                            <td th:text="${tour.city.name}"></td>
                            <td th:text="${tour.city.country.name}"></td>
                            <td th:text="${tour.price}"></td>
                             <script></script> 
            </tr>
            <input type="submit" value="Купить" />
            </form>
        </tbody>
    </table>

<script th:inline="javascript">
    
    function toggle(source) {
        let checkboxes = document.getElementsByName("checked");
        for(let i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script> -->
</body>
</html>